הפרוייקט של יובל הילאי מעודכן/MyWebApplication/MyWebApplication/Web References/ProxyCreditCard/wsCreditCardService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsValidCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="c" type="tns:Card" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Card">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CardNum" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdCompany" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpireMonth" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpireYear" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsLock" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="TZ" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="IsValidCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsValidCardResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertDeal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="d" type="tns:Deal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Deal">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdDeal" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CardNum" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DealDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalSum" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="IdSite" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertDealResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertDealResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompanies">
        <s:complexType />
      </s:element>
      <s:element name="GetCompaniesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCompaniesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="IsValidCardSoapIn">
    <wsdl:part name="parameters" element="tns:IsValidCard" />
  </wsdl:message>
  <wsdl:message name="IsValidCardSoapOut">
    <wsdl:part name="parameters" element="tns:IsValidCardResponse" />
  </wsdl:message>
  <wsdl:message name="InsertDealSoapIn">
    <wsdl:part name="parameters" element="tns:InsertDeal" />
  </wsdl:message>
  <wsdl:message name="InsertDealSoapOut">
    <wsdl:part name="parameters" element="tns:InsertDealResponse" />
  </wsdl:message>
  <wsdl:message name="GetCompaniesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCompanies" />
  </wsdl:message>
  <wsdl:message name="GetCompaniesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCompaniesResponse" />
  </wsdl:message>
  <wsdl:portType name="wsCreditCardServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsValidCard">
      <wsdl:input message="tns:IsValidCardSoapIn" />
      <wsdl:output message="tns:IsValidCardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertDeal">
      <wsdl:input message="tns:InsertDealSoapIn" />
      <wsdl:output message="tns:InsertDealSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanies">
      <wsdl:input message="tns:GetCompaniesSoapIn" />
      <wsdl:output message="tns:GetCompaniesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsCreditCardServiceSoap" type="tns:wsCreditCardServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidCard">
      <soap:operation soapAction="http://tempuri.org/IsValidCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDeal">
      <soap:operation soapAction="http://tempuri.org/InsertDeal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanies">
      <soap:operation soapAction="http://tempuri.org/GetCompanies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsCreditCardServiceSoap12" type="tns:wsCreditCardServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidCard">
      <soap12:operation soapAction="http://tempuri.org/IsValidCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDeal">
      <soap12:operation soapAction="http://tempuri.org/InsertDeal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanies">
      <soap12:operation soapAction="http://tempuri.org/GetCompanies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsCreditCardService">
    <wsdl:port name="wsCreditCardServiceSoap" binding="tns:wsCreditCardServiceSoap">
      <soap:address location="http://localhost:49777/wsCreditCardService.asmx" />
    </wsdl:port>
    <wsdl:port name="wsCreditCardServiceSoap12" binding="tns:wsCreditCardServiceSoap12">
      <soap12:address location="http://localhost:49777/wsCreditCardService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>